
# Ignore node_modules directory
node_modules/

# Ignore build or compiled files
dist/
build/
out/

# Ignore any local development environment files
.env

# Ignore package-lock.json for npm or yarn.lock for Yarn
package-lock.json
yarn.lock

# Ignore any editor or IDE specific files
.vscode/
.idea/

# Ignore logs and cache files
*.log
*.log.*
logs/
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any user-specific files or directories
.sass-cache/
.history/
